@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayMediu.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira+Stencil+One&display=swap');

@font-face {
    font-family: neu;
    font-weight: 100;
    src: url(./NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 200;
    src: url(./NeueHaasDisplayRoman.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
}

html, body {
    height: 100%;
    width: 100%;
}


canvas {
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: 9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
}



#main {
    /* background-color: #000; */
    position: relative;
    z-index: 10;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #E4E0DD;
    position: relative;
    padding: 0 2vw;
}

nav {
    padding: 2vw 0vw;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    justify-content: space-between;
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #0000003c;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    transition: all ease 0.4s;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4 a {
    color: #000000bb;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#nav-part2 h4:hover a {
    color: #fff;
}



nav h3 {
    display: none;
}

#center {
    height: 65vh;
    width: 100%;
    background-color: orange;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 2.5vw;
    clip-path: polygon(18% 0, 100% 0, 100% 43%, 100% 100%, 68% 100%, 32% 100%, 4% 100%, 4% 14%, 10% 13%);
}

#left h3 {
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}

#center h1 {
    font-size: 10vw;
    text-align: right;
    line-height: 8vw;
}

#banner
{
    /* background-color: black; */
    border-radius: 15px; /* Rounded corners */
    backdrop-filter: blur(10px); /* Frosted glass effect */
    padding: 20px; /* Padding around the text */
    text-align: center; 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    color: black; /* Text color */
    position: absolute; /* Position absolute to allow centering */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center using transform */
    height: 70vh; /* Set height of hero section */
    width: 80vw; /* Set width of hero section */
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center vertically */
    align-items: center; 
    /* clip-path: polygon(0% 15%, 15% 15%, 28% 0, 85% 0%, 100% 0, 100% 15%, 100% 85%, 83% 88%, 72% 100%, 15% 100%, 0 100%, 0% 85%); */
}
#banner>h1
{
    font-size: 5rem;
    position: absolute;
    z-index: 99;
    color: #f3f306;
    text-align: center;
    top: 30%;
    left: 50%;
    font-family: "Roboto", serif;
    font-weight: 400;
    transform: translate(-50%, -50%);
}
#banner>h4{
    font-size: 2rem;
    position: absolute;
    text-align: center;
    margin-top: 2rem;
    top: 55%;
    font-weight: 400;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    color: #565656;
}
#event-info {
    margin-top: 40vh; 
    font-size: 1.7em; 
    color: #E4E0DD;
}
.date i 
{  
    font-size: 2rem;
    margin-right: 10px; 
    margin-top: 5rem;
}
.countdown {
    font-weight: bold; 
    margin-top: 5rem;
    color: #E4E0DD;
}
.countdown i 
{   margin-left: 30px;
    font-size: 2rem;
    margin-right: 4px; 
}
.glass-container {
    display: flex; 
    justify-content: flex-start; 
    align-items: center;
    /* margin-left: 40px;  */
}

.glass {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
    border-radius: 15px; /* Rounded corners */
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    border: 1px solid rgba(255, 255, 255, 0.5); /* Optional border */
    padding-left: 2rem; /* Padding for spacing */
    padding-right: 2rem;
    padding-top:0.5rem;
    text-align: center; /* Center the text */
    margin: 20px 0; /* Margin for spacing above and below */
    margin-top: 40px;
    margin-right: 40px;
}
.glass h2
{
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: #E4E0DD;
}
.glass img {
    margin-bottom: 10px; /* Space between the image and the text */
    display: block; /* Ensures the image is on a new line */
    margin-left: auto; /* Center the image horizontally */
    margin-right: 0.5rem;
    width: 40px; /* Center the image horizontally */
    height: 40px;
}
.glass i
{
    margin-bottom: 0.5rem;
    font-size: 2rem;
    margin-right: 1rem; 
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.bounce {
    animation: bounce 1s infinite; /* Adjust duration as needed */
}


#part {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#part>h1 {
    font-size: 80px;
    position: absolute;
    z-index: 99;
    text-align: center;
    top: 38%;
    font-weight: 500;
    left: 50%;
    transform: translate(-50%, -50%);
}


#part1 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #E4E0DD;
}

#part1>h1 {
    z-index: 99;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 80px;
    font-weight: 500;
}

#part1>h4 {
    position: absolute;
    left: 50%;
    top: 57%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    white-space: nowrap;
    color: #565656;
    z-index: 99;
}

#part2 {
    position: relative;
    /* z-index: 9; */
    height: 100vh;
    width: 100vw;
    background-color: transparent;
}

#part3 {
    position: relative;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
}

#hero-shape {
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 65vh;
}

#hero-1 {
    background-color: #FE320A;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(10px);
    position: absolute;
}

#hero-2 {
    background: linear-gradient(#FE320A, #fe3f0a);

    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(25px);
}

#hero-3 {
    background: linear-gradient(#FE320A, #fe3f0a);
    height: 30vw;
    position: absolute;
    width: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime1 {
    from {
        transform: translate(55%, -3%);
    }

    to {
        transform: translate(0%, 10%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-20%, 30%);
    }
}

#page2 {
    min-height: 100vh;
    width: 100%;
    background-color: #E4E0DD;
    padding: 8vw 0;
    position: relative;
}

#moving-text {
    overflow-x: auto;
    white-space: nowrap;
}

#moving-text::-webkit-scrollbar {
    display: none;
}

.con {
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-text h1 {
    font-size: 9vw;
    /* background-color: lightblue; */
    display: inline-block;
}

#gola {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    background-color: #FE320A;
    margin: 1vw 2vw;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#page2-bottom {
    height: 80vh;
    width: 100%;
    /* background-color: aliceblue; */
    padding: 4.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}

#page2-bottom h1 {
    font-size: 4vw;
    width: 60%;
    line-height: 4vw;
}

#bottom-part2 {
    width: 20%;
    /* background-color: aqua; */
}

#bottom-part2 img {
    width: 100%;
    border-radius: 15px;
}

#bottom-part2 p {
    font-weight: 200;
    margin-top: 2vw;
    font-size: 1vw;
}

#page2 #gooey {
    height: 32vw;
    width: 32vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right, #ff2d03, #ff5c0b);
    /* background: linear-gradient(to top right,red,blue); */


    top: 58%;
    left: 25%;
    filter: blur(20px);
    animation-name: gooey;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

}

@keyframes gooey {
    from {
        filter: blur(20px);
        transform: translate(10%, -10%) skew(0);
    }

    to {
        filter: blur(30px);
        transform: translate(-10%, 10%) skew(-12deg);
    }
}




#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 4vw 0;
}
#page3 h1 {
    font-size: 4rem; /* Size of the heading */
    color: #333; /* Text color */
    text-align: center; /* Center the heading */
    margin-bottom: 20px; /* Space below the heading */
    font-family: 'Arial', sans-serif; /* Font family */
    text-transform: uppercase; /* Make text uppercase */
    letter-spacing: 2px; /* Space between letters */
    /* border-bottom: 2px solid #f7e308; Bottom border */
    padding-bottom: 10px; /* Space between text and border */
}

.elem {
    height: 150px;
    width: 100%;
    position: relative;

    border-bottom: 1px solid #38383864;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 2vw;
}

.elem h2 {
    font-size: 3vw;
    position: relative;
    z-index: 9;
}

.elem .overlay {
    height: 100%;
    width: 100%;
    background-color: orange;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.25s;
}

.elem:hover .overlay {
    top: 0;
}



#fixed-image {
    height: 30vw;
    width: 24vw;
    /* background-color: red; */
    border-radius: 15px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 25%;
    display: none;
    background-size: cover;
    background-position: center;
}

#page4 {
    height: 70vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 10vw 2vw;
}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 30%;
    border-left: 1px solid #aeadad;
    padding: 0 2vw;
}
#page5 {
    height: 100vh;
    width: 100%;
    background: hsl(0 0% 6%);
    /* background-repeat: no-repeat; */
    background-size: cover;
    padding: 10vw 2vw;
}

#page5 h1 {
    font-size: 2.5rem; /* Size of the FAQ heading */
    color: #EFEAE3; /* Text color */
    text-align: center; /* Center the heading */
    margin-bottom: 20px; /* Space below the heading */
}

.faq-container {
    max-width: 1000px; /* Maximum width of the FAQ section */
    margin: 0 auto; /* Center the container */
    /* margin-bottom: 2rem; */
    padding: 20px; /* Padding around the container */
}

.faq-item {
    background-color: #f9f9f9; /* Light background for each FAQ item */
    border: 1px solid #ddd; /* Border around each item */
    border-radius: 5px; /* Rounded corners */
    margin-bottom: 10px; /* Space between items */
    padding: 15px; /* Padding inside each item */
}

.faq-question {
    cursor: pointer; /* Change cursor to pointer on hover */
    color: #007BFF; /* Color for question text */
    margin: 0; /* Remove default margin */
}

.faq-answer {
    display: none; /* Hide answers by default */
    margin-top: 10px; /* Space above the answer */
}
#page6 {
    height: 100vh;
    width: 100%;
    /* background-color: #EFEAE3; */
}

#footer {
    position: fixed;
    height: 105vh;
    width: 100%;
    background-color: #000;
    color: #fff;
    z-index: 9;
    bottom: 0;
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    flex-direction: column;
    padding: 1vw 3vw;
}

#footer h1 {
    font-size: 15vw;
}

#footer-div {
    height: 20vh;
    width: 100%;
    background-color: red;
}

#footer-bottom {
    border-top: 1px solid #dadada;
    height: 10vh;
    width: 100%;
}

#full-scr {
    height: 100vh;
    width: 100%;
    background-color: #00000070;
    position: fixed;
    z-index: 99;
    top: -100%;
    transition: all ease 0.5s;
}

#full-div1 {
    height: 50%;
    width: 100%;
    background-color: #EFEAE3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

@media (max-width:600px) {

    #page1 {
        min-height: 100vh;
        width: 100vw;
        padding: 0 0vw;
    }

    nav {
        padding: 8vw 5vw;
        background-color: #EFEAE3;
        /* padding: 0 5vw; */
    }

    nav img {
        transition: all ease 0.2s;
        height: 9vh;
    }

    #nav-part2 {
        display: none;
    }

    nav h3 {
        display: block;
        padding: 3vw 5vw;
        border: 1px solid #ababab;
        border-radius: 50px;
        font-size: 4vw;
        font-weight: 200;
        padding-left: 10vw;
    }

    #center {
        height: 62vh;
        width: 100%;
        /* background-color: orange; */
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid #0000003c;
        padding: 7vw 5vw;
        padding-bottom: 10vw;
        flex-direction: column-reverse;
        position: relative;
        z-index: 9;
    }

    #left h3 {
        width: 80%;
        font-size: 5.5vw;
        line-height: 6vw;
    }

    #center h1 {
        font-size: 17vw;
        text-align: right;
        line-height: 15vw;
    }

    #page1 video {
        position: relative;
        border-radius: 15px;
        margin-top: 4vw;
        height: 70vh;
        object-fit: cover;
        object-position: center;
        width: 92%;
        margin-left: 4%;
    }

    #page2 {
        min-height: 100vh;
        width: 100%;
        background-color: #EFEAE3;
        padding: 8vw 0;
        position: relative;
    }

    #moving-text {
        overflow-x: auto;
        white-space: nowrap;
    }

    #moving-text::-webkit-scrollbar {
        display: none;
    }

    .con {
        white-space: nowrap;
        display: inline-block;
        animation-name: move;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    #moving-text h1 {
        font-size: 15vw;
        /* background-color: lightblue; */
        display: inline-block;
    }

    #gola {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        display: inline-block;
        background-color: #FE320A;
        margin: 2vw 2vw;
    }

    #page2-bottom {
        height: 90vh;
        width: 100%;
        /* background-color: aliceblue; */
        padding: 10vw 4vw;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        flex-direction: column;
        z-index: 9;
    }

    #page2-bottom h1 {
        font-size: 8.2vw;
        width: 100%;
        line-height: 9vw;
    }

    #bottom-part2 {
        width: 70%;
        /* background-color: aqua; */
    }

    #bottom-part2 img {
        width: 100%;
        border-radius: 10px;
    }

    #bottom-part2 p {
        font-weight: 200;
        margin-top: 2vw;
        font-size: 3vw;
    }

    #page2 #gooey {
        height: 62vw;
        width: 62vw;
        position: absolute;
        border-radius: 50%;
        background: linear-gradient(to top right, #ff2d03, #ff5c0b);
        /* background: linear-gradient(to top right,red,blue); */


        top: 58%;
        left: 25%;
        filter: blur(20px);
        animation-name: gooey;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;

    }


}

#loader{
    height: 100%;
    width: 100%;
    background-color: #000;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all ease 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader h1{
    font-size: 4vw;
    color: transparent;
    background: linear-gradient(to right,orange,orangered);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}
#loader h1:nth-child(2){
    animation-delay: 2s;
}
#loader h1:nth-child(3){
    animation-delay: 3s;
}

@keyframes load {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@media (max-width:600px) {
    #loader h1{
        font-size: 9vw;
      
    }
}
