* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: montserrat;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    position: relative;
    overflow: hidden;
}

canvas {
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: 9;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
    left: 50%;
    transform: translateX(-50%);
    top: 3%;
    border-radius: 20px;
    height: 10vh;
    width: 40vw;
    background-color: #ffffff54;
    backdrop-filter: blur(10px);
    padding: 0px 5px;
}

#nav>img {
    width: 10%;
}

#nav>button {
    padding: 20px 10px;
    border-radius: 10px;
    border: none;
    background-color: #ffcd6d;
    font-weight: 600;
}

#center-nav>a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    padding-right: 10px;
}
#hero
{
    position: relative;
    height: 100vh;
    width: 100vw;
    /* background: url(../assets/5501609ee45d514d1f2c4a63502045e2.gif); */
    background: #a19fc9;
    
}
#banner
{
    /* background-color: ; */
    border-radius: 15px; /* Rounded corners */
    backdrop-filter: blur(10px); /* Frosted glass effect */
    padding: 20px; /* Padding around the text */
    text-align: center; 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    color: black; /* Text color */
    position: absolute; /* Position absolute to allow centering */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center using transform */
    height: 70vh; /* Set height of hero section */
    width: 80vw; /* Set width of hero section */
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center vertically */
    align-items: center; 
}
#social-media { 
    position: absolute; 
    left: 20px; 
    top: 50%; 
    transform: translateY(-50%); 
}

#social-media i { 
    display: block; 
    margin-bottom: 10px; 
    font-size: 24px; 
    color: #333; 
}
#social-media a 
{
    text-decoration: none; 
}

#social-media i
{
    font-size: 2.5em;
    text-decoration: none;
    margin: 2rem 0;
    margin-left: 15px;
}

#banner>h1
{
    font-size: 5rem;
    position: absolute;
    z-index: 99;
    color: #f3f306;
    text-align: center;
    top: 30%;
    font-weight: 500;
    left: 50%;
    transform: translate(-50%, -50%);
}
#banner>h4{
    font-size: 2rem;
    position: absolute;
    text-align: center;
    margin-top: 2rem;
    top: 55%;
    font-weight: 400;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    color: #565656;
}
#event-info {
    margin-top: 40vh; 
    font-size: 1.7em; 
    color: #E4E0DD;
}
.date i 
{  
    font-size: 2rem;
    margin-right: 10px; 
    margin-top: 5rem;
}
.countdown {
    font-weight: bold; 
    margin-top: 5rem;
    color: #E4E0DD;
}
.countdown i 
{   margin-left: 30px;
    font-size: 2rem;
    margin-right: 4px; 
}
.glass-container {
    display: flex; 
    justify-content: flex-start; 
    align-items: center;
    /* margin-left: 40px;  */
}

.glass {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
    border-radius: 15px; /* Rounded corners */
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    border: 1px solid rgba(255, 255, 255, 0.5); /* Optional border */
    padding-left: 2rem; /* Padding for spacing */
    padding-right: 2rem;
    padding-top:0.5rem;
    text-align: center; /* Center the text */
    margin: 20px 0; /* Margin for spacing above and below */
    margin-top: 40px;
    margin-right: 40px;
}
.glass h2
{
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: #E4E0DD;
}
.glass img {
    margin-bottom: 10px; /* Space between the image and the text */
    display: block; /* Ensures the image is on a new line */
    margin-left: auto; /* Center the image horizontally */
    margin-right: 0.5rem;
    width: 40px; /* Center the image horizontally */
    height: 40px;
}
.glass i
{
    margin-bottom: 0.5rem;
    font-size: 2rem;
    margin-right: 1rem; 
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.bounce {
    animation: bounce 1s infinite; /* Adjust duration as needed */
}

#about-us
{
    position: relative;
    height: 100vh;
    width: 100vw;
    /* background: url(../assets/5501609ee45d514d1f2c4a63502045e2.gif); */
    background: #a19fc9;
    
}
#page {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#page>h1 {
    font-size: 80px;
    position: absolute;
    z-index: 99;
    text-align: center;
    top: 38%;
    font-weight: 500;
    left: 50%;
    transform: translate(-50%, -50%);
}


#page1 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #E5E1DC;
}

#page1>h1 {
    z-index: 99;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 80px;
    font-weight: 500;
}

#page1>h4 {
    position: absolute;
    left: 50%;
    top: 57%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    white-space: nowrap;
    color: #565656;
    z-index: 99;
}

#page2 {
    position: relative;
    /* z-index: 9; */
    height: 100vh;
    width: 100vw;
    background-color: transparent;
}

#page3 {
    position: relative;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
}

#page4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    text-align: center;
    background-color: #E4E0DD;
}

#page4>h1 {
    font-weight: 600;
    font-size: 2.7vw;
}

#page4>h4 {
    margin-top: 20px;
    font-weight: 500;
    color: #646464;
    font-size: 1vw;
}

#page5 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}
#center-page5{
    display: flex;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 70%;
    width: 75%;
    background-color: #F6F3EF;
}
#left-page5{
    height: 100%;
    width: 50%;
}
#left-page5>svg{
    scale:0.7;
}
#right-page5{
    display: flex;
    align-items: start;
    gap: 30px;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding-left: 60px;
}
#right-page5>h1{
    font-weight: 600;
}
#right-page5>h4{
    font-weight: 500;
    width: 70%;
    color: #96969685;
}
#right-page5>button{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
}
#page6{
    position: relative;
    display: flex;
    height: 100vh;
    width: 100vw;
}
.left-page6{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding-left: 10vw;
}
.left-page6>h1{
    font-size: 2.8vw;
    font-weight: 600;
}
.left-page6>h4{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    width: 50%;
}
.right-page6{
    position: relative;
    height: 100%;
    width: 50%;
}
.right-page6>video{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 70%;
    width: 70%;
}
#page7{
    position: relative;
    display: flex;
    height: 100vh;
    width: 100vw;
}
.left-page7{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding-left: 10vw;
}
.left-page7>h1{
    font-size: 2.8vw;
    font-weight: 600;
}
.left-page7>h4{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    width: 50%;
}
.right-page7{
    position: relative;
    height: 100%;
    width: 50%;
}
.right-page7>video{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 70%;
    width: 70%;
}
#page8{
    position: relative;
    display: flex;
    height: 100vh;
    width: 100vw;
}
.left-page8{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding-left: 10vw;
}
.left-page8>h1{
    font-size: 2.8vw;
    font-weight: 600;
}
.left-page8>h4{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    width: 50%;
}
.right-page8{
    position: relative;
    height: 100%;
    width: 50%;
}
.right-page8>img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 70%;
    width: 70%;
}